* {
	transition: 0.2s ease all;
}

body {
    font-family: 'Roboto' !important;
	margin:0;
	padding: 0;
	background-color: #EEEEF2;
}

p {
	margin: 0;
	padding: 0;
}

.inline {
    display: inline-block;
}

/* navigation */

.top {
    height: 65px;
	border-bottom: 1px
	-webkit-box-shadow: 0px -9px 32px 0px rgba(0,0,0,0.88);
	-moz-box-shadow: 0px -9px 32px 0px rgba(0,0,0,0.88);
	box-shadow: 0px -9px 32px 0px rgba(0,0,0,0.88);
	background: linear-gradient(to right, #EEEEF2 , #f7f7f9);
}

.top-left {
	float: left;
}

.title {
	border-right: 1.3px solid #d6d6d6;
}

.title > * {
	vertical-align: middle;
}

.image {
	vertical-align: middle;
	padding: 10px;
	border-radius: 20px;
}

.header {
	display: inline-block;
	font-size: 30px;
	font-weight: 200;
	line-height: 65px;
	padding-right: 10px;
}

.link {
	color: #E74C3C;
	text-decoration: none;
	padding: 10px;
	font-weight: 300;
	font-size: 18px;
}

.dropdown {
	float: right;
	text-align: right;
}

.name {
	line-height: 65px;
}

.drop-content {
	display: none;
	position: absolute;
    background-color: white;
	text-align: left;
	width: auto;
	z-index: 1;
}

.drop-content a {
	display: block;
}

.dropdown:hover .drop-content {
	display: block;
}

/* DASHBAORD */

/* lift div */
