* {
	transition: 0.2s ease all;
}

body {
    font-family: 'Roboto' !important;
	margin:0;
	padding: 0;
}

.top {
    height: 90px;
}

.inline {
    display: inline-block;
    background-color: pink;
}
