{% extends '/templates/app.twig' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div id="mainDiv">
        <h1>Login to LiftAppSite</h1>
		<form action="{{ path_for('auth.signin') }}" method="post">
			<input type="text" name="username" id="usernameInput" placeholder="Username">
			<input type="password" name="password" id="passwordInput" placeholder="Password">
			<button id="login">Login</button>
			<p id="createAccount"><a href="./createAccount">Create an account</a></p>
		</form>
	</div>
{% endblock %}
{% block scripts %}

{% endblock %}
