body {
	font-family: 'Roboto' !important;
	margin:0;
	padding: 0;
	background-color: #f8f8f8;
}

div {
	margin:0;
	padding: 0;
}

h2 {
	font-weight: 200;
	background-color: white;
	height: 65px;
	width: 33%;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	line-height: 63px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	
}

h1 {
	font-weight: 200;
	
}

h3 {
	font-weight: 200;
}

p {
	font-weight: 200;
}

td, th {
    border-bottom: 1px solid #DCDCDC;
    text-align: left;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 200;
}

button {
	color: #E74C3C;
	height: 100%;
	width: 100%;
	border: 0px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
	font-size: 14px;
}

#table {
	width: 60%;
  	margin-left: 20%;
  	text-align: center;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
    background-color: white;
    display: none;
}

#liftTable {
	width: 100%;
}



